<div>
  <h1 class="text-xl font-bold">Index#index</h1>
  <p>Find me in app/views/index/index.html.erb</p>
  <pre><%= @user.inspect if @user %></pre>
  <%= button_to "Login via Twitter", "/auth/twitter", method: :post, data: { turbo: false } %>
<div>
